/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h2 {
    margin-top: 0px;
}

footer {
    text-align: center;
    color: darkgray;
}

footer a {
    color: darkgray;
    text-decoration: underline;
}

input[type="text"] {
    max-width: 80%;
    padding-left: 10px;
}

.radio-inline {
    margin-left: 1.5em;
    font-size: 19px;
    font-weight: 200;
    margin-top: 50px;
}

.radio-inline input[type="radio"] {
    margin-top: 11px;
}

.form-group {
    margin-bottom: 20px;
}
